<!doctype html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Upload new File</title>
<!-- Bootstrap4-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!-- Custom js for this template -->
<script type="text/javascript" src="{{ url_for('static', filename='common.js') }}"></script>

<style>
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
</style>

</head>
<body>

<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Данный продукт сделан командой Центурион в рамках хакатона Цифровой Прорыв</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Телеграмм капитана</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
	  <!--
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2" focusable="false" aria-hidden="true"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
        -->
		<strong>Summaraizer</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Summaraizer</h1>
		<p class="lead text-muted">Это MVP с экстрактивным подходом.</p>
		 <!--<a href="https://colab.research.google.com/drive/1HaFBkCQ3hucbUnZZhgNEoXBUWxCm5DY1?usp=sharing" class="link-primary">Перейти по ссылке</a>-->
	  <p>

      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
	<div class="container">
		<h1>Summary ready</h1>
			 <form method="POST" enctype="multipart/form-data" action="">
			  
			  <div class="form-group">
				<!--<label for="exampleFormControlTextarea1">Push button for next step</label>-->
				<textarea name = "text" class="form-control" id="exampleFormControlTextarea1" rows="3">{{text_rdy}}</textarea>
			  </div>
			  
			  <!--
			  <div class="form-group">
			  <input type="submit" id="sendButton" onclick="$('#loading').show();" class="btn btn-primary sendButton" value="Upload Files">
			  </div>
			  -->
			  <div id="loading" style="display:none;"><img src="{{ url_for('static', filename='loading.gif') }}" alt="" />We started processing wait some minutes</div>
			  
			</form>
	</div>
  </div>

  

  
</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Summaraizer это пример алгоритма суммаризации </p>
  </div>
</footer>


<script>
// Add the following code if you want the name of the file appear on select
 $('.custom-file input').change(function (e) {
        var files = [];
        for (var i = 0; i < $(this)[0].files.length; i++) {
            files.push($(this)[0].files[i].name);
        }
        $(this).next('.custom-file-label').html(files.join(', '));
    });

//Enable button after files are downloaded
let inputElt = document.getElementById('customFile');
let btn = document.getElementById('sendButton');

//inputElt.addEventListener("input", function(){
//  btn.disabled = (this.value === '');
//})
	
</script>
</body>






 