<!doctype html>
<title>Show data</title>
<head>




<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<style>
.jumbotron{
    height: 100vh;
}


</style>

</head>


<body>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark" style=" background-image:  url({{ url_for('static', filename=bgimgname) }})"; background-size: 100%;  background-repeat: no-repeat;">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic text-dark">Ниже суммаризация докумментов по топикам</h1>
      <p class="lead my-3 text-dark">Дорогой сотрудник, ниже представлена суммаризация всех нормативных докуметов для вас. Помните, что это памятка для первых дней работы, так как нормативные документы меняются.</p>
      <p class="lead mb-0"><a href="#Senya" class="text-dark font-weight-bold">Start reading...</a></p>
    </div>
</div>



<div class="#Senya">
  {%for row in tbl%}
	<h2>Topic</h2>
     <ul class="list-group" >
        {%for col in row%}
          <li class="list-group-item" >{{col}}</li>
        {%endfor%}
     </ul>
  {%endfor%}
</div>

<!--
<img src=url({{ url_for('static', filename=bgimgname) }}) alt="альтернативный текст">
-->



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

<!--
table>
  {%for row in tbl%}
     <tr>
        {%for col in row%}
          <td>{{col}}</td>
        {%endfor%}
     </tr>
  {%endfor%}
</table>
-->


